extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col-sm-12 text-center")
				div(id="image-wrapper")
					img(src='images/' + carImg)
		div(class="row")
			div(id="vote-wrapper", class="col-sm-6 col-sm-offset-3 text-center")
				form(class="vote-form", action="./electric", method="post")
					input(type="hidden", name="name", value=""+carName)
					input(type="submit", class="btn btn-primary btn-lg", value="Electric")
				form(class="vote-form", action="./not", method="post")
					input(type="hidden", name="name", value=""+carName)
					input(type="submit" class="btn btn-danger btn-lg", value="Not")
