extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col-sm-6 col-sm-offset-3 text-center")
				div(class="thumbnail main-gallery")
					img(src="images/" + carImg)
					div(class="caption")
						form(class="vote-form", action="./electric", method="post")
							input(type="hidden", name="car", value="" + carName)
							input(type="submit", class="btn btn-primary btn-lg", value="Electric")
						form(class="vote-form", action="./not", method="post")
							input(type="hidden", name="car", value="" + carName)
							input(type="submit" class="btn btn-danger btn-lg", value="Not")
