body {
	background-color: #F7F8FA;
}

.thumbnail {
	margin-top: 20px;
}

img {
	height: 100%;
}

.vote-form {
	display: inline;
}

.vote-form input {
	margin: 0 10px;
	width: 100px;
}

.navbar-btn {
	margin-right: 10px;
}
