#image-wrapper {
	padding-top: 20px;
	height: 70vh;
}

img {
	height: 100%;
}

.vote-form {
	display: inline;
}

.vote-form input {
	margin: 10px;
	width: 100px;
}

.navbar-btn {
	margin-right: 10px;
}
